
body{

    background-color:whitesmoke;
}
h1{
    text-align: center; text-justify: auto;
    color: darkred;
    font-size: 250%;
}

p{
    text-align:justify;

 
    color: black;
}
a:link
{
    color: blue;
}

a:visited
{
    color: blueviolet;
}




