<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">

</head>
<body>
    <div class="container">
        <div id="id">
            <from action="">
                <div class="col-sm-6">
                    <input v-model="options" type="text" class="form-control">
                </div>
                <fieldset class="form-group">
                    <legend>Radio buttons</legend>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input v-model="options"  type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="options-1" checked>
                            Option one is this and that&mdash;be sure to include why it's great
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input v-model="options"   type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="options-2">
                            Option two can be something else and selecting it will deselect option one
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input v-model="options"   type="checkbox" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="options-3">
                            Option three is disabled
                        </label>
                    </div>
                </fieldset>
                <p> You selected {{options.join(' , ')}}</p>
            
            </from>

            
        </div>
        

    </div>







<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<script>
    var v=new Vue({
        el: '#id',
        data: {
            options: [],
            msg: 'hello',
        }
    })
</script>
</body>
</html>